# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

# Azure Functions
azure-functions

# Azure Identity for authentication
azure-identity

# Azure Container Instance Management
azure-mgmt-containerinstance

# Azure Core for shared functionalities
azure-core
