langchain==0.2.14
langchain-core==0.2.34
langchain-openai==0.1.19
langchain-community==0.2.12
transformers
aiolimiter
pyarrow
pandas
numpy
azure-storage-blob==12.22.0
python-dotenv
pyyaml
boto3
botocore
tenacity
openpyxl
python-dateutil
python-docx
